apiVersion: apps/v1
kind: Deployment
metadata:
  name: ${NAME}
  namespace: ${NAMESPACE}
  labels:
    app: ${APP}
spec:
  replicas: 1
#  strategy:
#    type: RollingUpdate
  selector:
    matchLabels:
      app: ${APP}
  template:
    metadata:
      labels:
        app: ${APP}
    spec:
      serviceAccountName: ${SERVICE_ACCOUNT}
      imagePullSecrets: [${IMAGE_PULL_SECRET}]
      containers:
      - name: ${NAME}
        image: ${DOCKER_REGISTRY}/${IMG}:${TAG}
        imagePullPolicy: ${IMAGE_PULL_POLICY}
        command:
        - "service-broker"
        args:
        - --port
        - "${PORT}"
#        - "8080"
        - --catalog-path
        - ${CATALOG_PATH}
        - --catalog-names
        - "${CATALOG_NAMES}"
        - -v
        - "5"
        - -logtostderr
        - --storage-class
        - ${STORAGE_CLASS}
        ports:
        - containerPort: 8080
        volumeMounts:
        - mountPath: "${CATALOG_PATH}/kubedb"
          name: kubedb-volume
      volumes:
      - name: kubedb-volume
        configMap:
          name: kubedb
#          defaultMode: 511
