# Default values for service-broker.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  repository: shudipta/service-broker
  tag: latest
  pullPolicy: IfNotPresent

imagePullSecrets: []

containerPort: 8080
logLabel: 5

service:
  type: ClusterIP
  port: 80

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #  cpu: 100m
  #  memory: 128Mi
  # requests:
  #  cpu: 100m
  #  memory: 128Mi

# custom config about catalogs
catalogs:
  names: ["kubedb", "guard"]

  # The path where catalogs for different database service plans are stored
  path: /etc/config/catalogs

# storageClassName for database storage
storageClass: standard